# IDE & Editor
.vscode/
.idea/
nbproject*
**/nbproject/

# OS
.DS_Store

# Sass
.sass-cache

# Dependencies
node_modules/

# Composer
composer.lock

# Logs
logs
*.log
npm-debug.log*

# Cache
.eslintcache

# Output of `npm pack`
*.tgz

# Output of `wp-scripts plugin-zip`
*.zip

# dotenv
.env

# Loco Translate
*.po~
*.pot~